<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find description)/xacro/common_inertia.xacro"/>
    <xacro:macro name="base_xacro" params="length width height wheel_radius">
        <link name="base_link">
            <!-- 部件的外观描述-->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转量-->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状-->
                <geometry>
                    <box size="${length} ${width} ${height}"/>
                </geometry>
                <!-- 材质颜色-->
                <material name='white'>
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </visual>
            <collision>
                <!-- 沿着自己几何中心的偏移和旋转量-->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状-->
                <geometry>
                    <box size="${length} ${width} ${height}"/>
                </geometry>
                <!-- 材质颜色-->
                <material name='white'>
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </collision>

            <xacro:box_inertia m="1.8" w="${length}" h="${width}" d="${height}"/>
        </link>
    </xacro:macro>
    
</robot>
