<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    
    <xacro:include filename="$(find description)/xacro/base.urdf.xacro"/>
    <xacro:include filename="$(find description)/xacro/imu.urdf.xacro"/>
    <xacro:include filename="$(find description)/xacro/camera.urdf.xacro"/>
    <xacro:include filename="$(find description)/xacro/wheel.urdf.xacro"/>
    <xacro:include filename="$(find description)/xacro/gazebo_sensor_plugin.xacro"/>
    <xacro:include filename="$(find description)/xacro/ros2_control.xacro"/>
    <xacro:include filename="$(find ros2_livox_simulation)/urdf/mid360.xacro"/>

    <xacro:property name="base_length" value="0.42"/>
    <xacro:property name="base_width" value="0.28"/>
    <xacro:property name="base_height" value="0.10"/>
    <xacro:property name="wheel_radius" value="0.055"/>
    <xacro:property name="wheel_width" value="0.045"/>
    <xacro:property name="wheel_x" value="0.145"/>
    <xacro:property name="wheel_y" value="0.165"/>
    <xacro:property name="wheel_z" value="-0.047"/>

    <xacro:base_xacro length="${base_length}" width="${base_width}" height="${base_height}" wheel_radius="${wheel_radius}"/>
    <xacro:imu_xacro xyz="0.0 0.0 0.065"/>
    <xacro:camera_xacro xyz="0.20 0.0 0.060"/>
    <xacro:mid360 name="livox_frame" parent="base_link" topic="/livox/lidar">
        <origin xyz="0.0 0.0 0.080" rpy="0.0 0.0 0.0"/>
    </xacro:mid360>

    <xacro:wheel_xacro wheel_name="front_left_wheel" xyz="${wheel_x} ${wheel_y} ${wheel_z}" radius="${wheel_radius}" width="${wheel_width}"/>
    <xacro:wheel_xacro wheel_name="front_right_wheel" xyz="${wheel_x} ${-wheel_y} ${wheel_z}" radius="${wheel_radius}" width="${wheel_width}"/>
    <xacro:wheel_xacro wheel_name="rear_left_wheel" xyz="${-wheel_x} ${wheel_y} ${wheel_z}" radius="${wheel_radius}" width="${wheel_width}"/>
    <xacro:wheel_xacro wheel_name="rear_right_wheel" xyz="${-wheel_x} ${-wheel_y} ${wheel_z}" radius="${wheel_radius}" width="${wheel_width}"/>

    <xacro:ros2_control />

    
</robot>
